@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.card, .search_bar, .search_btn, .img, .edit_btn, .product_name, .product_price, .bath {
    font-family: 'Kanit', sans-serif;
}

.card, .search_bar, .search_btn, .img, .edit_btn {
    display: inline-block;
    margin: 15px;
    padding: 0;
    border: 0;
}

.search_bar {
    width: 60%;
}

.search_btn {
    margin-left: 0.1%;
    background-color: black;
    padding: 0.5% 1% 0.5% 1%;
}

.product_name {
    text-decoration: underline;
}

.product_price {
    font-size: 25px;
}

.bath {
    font-size: 15px;
}
